# Source - https://stackoverflow.com/a/7878690
# Posted by gurney alex, modified by community. See post 'Timeline' for change history
# Retrieved 2026-03-25, License - CC BY-SA 4.0

[MAIN]
disable=
    C0114, # missing-module-docstring
